altair==4.2.0
deta==1.1.0
hydralit_components==1.0.10
matplotlib==3.5.2
numpy==1.22.4
pandas==1.4.2
Pillow==9.2.0
plotly==5.8.0
PyYAML==6.0
streamlit==1.12.2
streamlit_authenticator==0.2.1
streamlit_extras==0.1.4
streamlit_option_menu==0.3.2
